---
import NeonBackground from './NeonBackground.astro';
import Animations from './Animations.astro';
import NeonEffects from './NeonEffects.astro';
---

<footer class="footer py-12 text-gray-300 relative overflow-hidden">
  <NeonBackground />
  <Animations />
  <NeonEffects />

  <div class="container mx-auto px-6 text-center z-10 relative">
    <p class="text-lg animate-fade-in-up">
      © 2025 <span class="text-purple-400 animate-pulse-slow drop-shadow-neon">Quantiq Agency</span>. Todos los derechos reservados.
    </p>
    
  </div>
</footer>