---
const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mi Página</title>
   
  </head>
  <body class="bg-gradient-to-br from-gray-800 to-slate-950 text-white">
    <slot /> <!-- Aquí se renderizan los componentes hijos (Hero, Services, etc.) -->
  </body>

</html>